body {
  background: #222;
  font-family: "Outfit", sans-serif;
  background-image: url("./clouds.jpeg");

  font-size: 140%;
}
.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-top: 0.6em;
  height: 10vh;
  position: relative;
}

.notification.hidden {
  visibility: hidden;
}

.notification.hidden:after{
  color: white;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 80vh;
}

.cardContainer {
  background: rgba(0, 0, 0, 0.9);
  border-radius: inherit;
}

.card {
  background: #0000002b;
  color: white;
  padding: 0.25em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 1em;
  margin-top: 1.9em;
  padding: auto;
  border-radius: 50%;
  border: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
  outline: none;
  background: #7c7c7c2b;
  color: white;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 110%;
  width: calc(100% - 150px);
  margin-left: 8px;
  margin-top: 0.6em;
}

button:hover {
  background: #7c7c7c6b;
  transition: 0.2s ease-in-out;
}

h1.temp {
  padding: 0.3em;
  flex-flow: row;
  margin-bottom: 0.4em;
}

.flexContainer {
  display: flex;
  align-items: center;
}
.hourContainer {
  margin-left: 7em;
}
.hour {
  margin-left: auto;
  margin-left: auto;
}

.description {
  text-transform: capitalize;
  margin-left: 0.5em;
}
.weather {
  padding-left: 10px;
  padding-bottom: 10px;
}

.weather.hidden {
  visibility: hidden;
  max-height: 40px;
  position: relative;
}

.weather.hidden:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 150%;
}
